---
import Layout from "@/layouts/Layout.astro";

import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import Tail from "@/components/sections/Tail.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import ThemeSwitch from "@/components/ThemeSwitch.astro";

import { basics } from "@cv";
const { name, label } = basics;
---

<Layout title={`Portafolio de ${name} - ${label}`}>
	<main class="relative grid max-w-7xl gap-12 md:grid-cols-6 xl:gap-24 print:max-w-none print:grid-cols-1 print:gap-6">
		<div class="space-y-6 md:col-span-2 print:col-span-1 print:grid print:grid-cols-2 print:gap-5 print:space-y-0">
			<Hero />
			<About />
			<ThemeSwitch />
		</div>
		<div class="space-y-12 md:col-span-4 print:col-span-1 print:space-y-0">
			<Experience />
			<Projects class="print:hidden" />
			<Skills />
			<Education />
		</div>
		<Tail />
	</main>

	<KeyboardManager />
</Layout>

<style>
	@page {
		size: auto;
		margin: 0mm;
	}
	main {
		padding: 4rem;
		margin: auto;
		width: 100%;
	}

	@media (width <= 700px) {
		main {
			padding: 2rem;
		}
	}
</style>
