---
const { class: customClass, title } = Astro.props;
---

<section class:list={[`flex flex-col gap-4 print:gap-0`, `${customClass}`]}>
	{title && <div class="relative flex w-full items-center gap-3 pb-4 text-3xl print:text-xl">{title}</div>}
	<slot />
</section>
