---
const { title } = Astro.props
---

<section class="flex flex-col gap-6">
  
  {title &&
    <div class="w-full text-3xl before:font-mon before:text-xl relative font-bold before:relative items-center flex gap-3 before:text-accent before:content-['0.1'] after:content-[''] after:block after:w-24 after:h-px after:bg-gray-500/10 after:mt-2 after:ml-3">
      {title}
    </div>
  }
  <slot />
</section>


<style>
  section {
    max-width: 700px;
    margin: 0 auto 48px;
  }

  h2 {
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5rem;
  }

  @media (width <= 700px) {
    section {
      margin-bottom: 38px;
    }
  }
</style>
